extends layout

block content

  div.row
    div.col-md-12
      h1= title

  div.row
    div.col-md-12
      form(method='POST' action='/polls/create')
        div.form-group
          label(for='question') Question
          input.form-control(type='text' id='question' name='question' placeholder='Question')
        div.form-group
          label(for='answers') Answers
          textarea.form-control(id='answers' name='answers' placeholder='Answers')
        button.btn.btn-primary(type='submit') Create poll

