doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body

    div(class='header')
      if auth
        a(class='logout' href='/logout') Log Out
      else
        a(class='login' href='/auth/twitter') Log In
      a(class='polls' href='/polls') Polls

    block content
