extends layout

block content

  if error
    div.row
      div.col-md-12
        div.alert.danger
          p= error

  if message
    div.row
      div.col-md-12
        div.alert.success
          p= message

  div.row
    div.col-md-12
      h1= title

  if (polls.length)

    div.row
      div.col-md-12
      h2 Open polls

    div.row
      div.col-md-12
        ul
          each poll in polls
            li
              a(href='/polls/detail/' + poll._id) #{poll.question}
  else
    div.row
      div.col-md-12
        p No polls

  div.row
    div.col-md-12
      if auth
        a(class='btn btn-primary' href='/polls/add') Add poll
      else
        p Please log in to create a new poll

